body {
    background-color: black;
    color: #888888;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    
}
.logo {
    width: 200px;
    height: 200px;
    background-size: cover;
    margin-bottom: 30px;
    opacity: 0.5;
}
.form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.input-field {
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    background-color: #333333;
    color: white;
    outline: none;
}

.input-field::placeholder {
    color: #888888;
}

#titleImage {
    width: 200px; /* Adjust the size as needed */
    height: auto;
    margin: 20px 0; /* Adds space between title and buttons */
}
/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.4); /* Black background with opacity */
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.modal-button {
    padding: 10px 20px;
    cursor: pointer;
}


.button {
    background-color: #333333;
    color: #ffffff;
    border: none;
    padding: 7px 80px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}
.button:active {
    transform: scale(0.93);    /* Slightly shrink on click */
}
.button:hover {
    background-color: #5e5e5e;
}

.go-back-button {
    background-color: #ff0000;
}

.go-back-button:hover {
    background-color: #ff4444;
}